body {

}
header {
  background-image: linear-gradient(#04519B, #044687 60%, #033769);
  color: #FFF;
  min-height: 100px;
  padding-top: 25px;
}

header form {
  float: right;
}
header .logo {
  float: left;
}
.panel-heading {
  background-image: linear-gradient(#04519B, #044687 60%, #033769);
  color: #FFF !important;
}
.bubble {
  position: relative;
  max-width: 580px;
  min-height: 65px;
  padding: 15px;
  backgroud: #FFF;
  border-radius: 10px;
  border: 1px solid #CCC;
}
.bubble:after{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #FFF;
  display: block;
  width: 0;
  z-index: 1;
  margin-top: -15px;
  left: -15px;
  top: 50%;
}
.bubble:before{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #CCC;
  display: block;
  width: 0;
  z-index: 0;
  margin-top: -15px;
  left: -16px;
  top: 50%;
}
.post-actions {
  margin: 5px;
}
.comment-form .form-group {
  width: 88%;
}
.comment-form input[type=text]{
  width: 100%;
}
.comment-avatar img {
  width: 40px;
  margin-right: 5px;
}
.comment {
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 3px;
  margin: 5px 0;
  overflow: auto;
  width: 100%;
}
.friends li {
  list-style: none;
  padding: 5px 3px;
  display: inline;
  float: left;
}
.friends img {
  width: 55px;
}
.groups img {
  width: 80px;
  float: left;
  margin-right: 15px;
}
.group-item {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #CCC;
  overflow: auto;
}
.members .member-row {
  border-bottom: 1px solid #CCC;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.members img {
  margin-bottom: 5px;
}
.profile li {
  list-style: none;
  line-height: 1.9em;
}
.photos {
  margin: 0;
  padding: 0;
}
.photos li {
  list-style: none;
  float: left;
  margin: 5px;
  width: 23%;
}
.photos img {
  width: 100%;
}
footer {
  background: #F4F4F4;
  height: 90px;
  color: #04519B;
  font-weight: bold;
  text-align: center;
  padding-top: 40px;
  margin-top: 30px;
  border-top: 7px solid #04519B;
}
  @media(min-width: 991px){
    .members p {
      padding-top: 40px;
    }
  }
.btn-bs-file{
    position:relative;
}
.btn-bs-file input[type="file"]{
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width:0;
    height:0;
    outline: none;
    cursor: inherit;
}